

.coding-img {
    width: 35%;
    margin-left: 350px;
}

.second-title {
    text-align: center;
    color: #678983;
    font-family: 'Sacramento', cursive;
    font-weight: normal;
    padding-top: 35px;
}

.header {
    font-family: 'Cormorant Garamond', serif;    
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    color: #798777;
    font-size: 562.5%;
}

.headerImg {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}

.dottedLine {
    border: dotted #678983 8px;
    border-bottom: none;
    width: 8%;
    margin: 50px auto;
}

.resources {
    text-align: center;
    margin-top: 9px;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #181D31;
}

.python-logo {
    width: 35%;
    float: right;
    margin-right: 150px;
}

.python-coding-resources {
    width: 70%;
    margin: 100px auto 50px auto;
    font-family: 'Arvo', serif;
    text-align: left;
    line-height: 2;
}

.java-logo {
    width: 35%;
    float: left;
    margin-left: 185px;
    position: relative;
    top: -20px;
}

.java-coding-resources {
    color: #181D31;
    width: 60%;
    margin: 50px auto 50px auto;
    font-family: 'Arvo', serif;
    text-align: right;
    line-height: 2;
}

.the-combo-logo {
    width: 28%;
    float: right;
    margin-right: 150px;
}

.the-combo-resources {
    color: #181D31;
    width: 70%;
    margin: 100px auto 100px auto;
    font-family: 'Arvo', serif;
    text-align: left;
    line-height: 2;
}

